/**
 * fichier desktop.css
 * 
 * fichier contenant les propriétés css spécifiques au desktop (mobil-first)
 * 
 * @author: njah kevin;
 * @version: 1.0;
 * @date: 2022-08;
 */


.info ol{
	flex-direction: initial;
}

.cart{
	flex-basis: 45%;
	margin-bottom: 5em;
}

.restau h2{
	    padding: 1em 2em 1em 3em;
}