/**
 * fichier menu-mobile.css
 * 
 * fichier contenant les propriétés css générales et spécifiques au menu-mobile (menu-mobile first)
 * 
 * @author: njah kevin;
 * @version: 1.0;
 * @date: 2022-10;
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&family=Shrikhand&display=swap');


*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

body{
	margin: 0px;
	font-family: "roboto", sans-serif;
}


				/*header*/


header{
	display: flex;
	align-items: center;
	font-family: shrikhand;
	text-align: center;
	box-shadow: 0 3px 3px gray;
	padding: 2em;
	margin: 0;
}

header h1{
	margin: auto;
}

header .fa-solid{
	padding-left: 2em;
}


			/*image de fond*/


.image-de-fond img{
	width: 100%;
	height: 35em;
	object-fit: cover;
}

.menu{
	position: relative;
	align-items: center;
	border-radius: 27px 27px 0 0;
	margin-top: -50px;
	background-color: #f3f3f3;
}

			/*partie menu*/


.menu h2{
	padding-left: 2em;
	font-family: shrikhand;
	padding-top: 2em;
}

.menu .fa-solid{
	position: absolute;
	right: 60px;
	font-size: 30px;
	top: 45px;	
	color: transparent;
	opacity: 0;	
	transition: opacity 1s;	
	-webkit-background-clip: text;
	background-image: linear-gradient(to top,rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
}


.menu .fa-heart{
	position: absolute;
	right: 60px;
	font-size: 30px;
	top: 45px;
}

.menu .fa-solid:hover{
	background-image: linear-gradient(to top,rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
	opacity: 1;
	transition: opacity 1s;
}

.menu section{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 1em;
	margin: 0 1em;
}

.menu h3{
	flex-basis: 100%;
	margin:2em 0 0;
}	

.menu article{
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 99%;
	border-radius: 25px 25px 25px 25px;
	overflow: hidden;
}

article h4  {
	padding-left: 1em;
}

article p{
	padding-left: 1em;
}

article:hover p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 250px;
}
.check{
	position: relative;
	width: 6em;
	height: 6.1em;
	border-radius: 0 25px 25px 0;
	background-color: #99E2D0;
	margin-right: -6em;
	transition-duration: 1s;
}

article:hover .check{
	margin-right: 0;
	padding-left: 90px;
	transition-duration: 1s;
}

.check .fa-solid{
	position: absolute;
	top: 35px;
	right: 35px;
	color: white;
}

article:hover .fa-solid{
	transform: rotate(720deg);
	transition-duration: 1s;
	transition-property: transform;
	opacity: 1;
}

.menu .animation-1{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 0.2s ease-out forwards;
}

.menu .animation-2{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 0.4s ease-out forwards;
}

.menu .animation-3{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 0.6s ease-out forwards;
}

.menu .animation-4{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 0.8s ease-out forwards;
}

.menu .animation-5{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 1s ease-out forwards;
}

.menu .animation-6{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 1.2s ease-out forwards;
}

.menu .animation-7{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 1.4s ease-out forwards;
}

.menu .animation-8{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 1.6s ease-out forwards;
}

.menu .animation-9{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 1.8s ease-out forwards;
}

.menu .animation-10{
	opacity: 0;
	transform: translateY(-30px);
	animation: apparition 0.8s 2s ease-out forwards;
}

@keyframes apparition {
  0% {
   	transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
	}
}

.menu-prix{
	margin: 45px 10px 0 auto;
}

.menu button{
	flex-basis: 14%;
	padding: 1.5em 5em;
	margin: 3em auto;
	border-radius: 42px;
	border: none;
	color: white;
	font-size: 20px;
	transition: transform 200s;
	cursor: pointer;
	background-image: linear-gradient(to top,rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
}

.menu button:hover{
	transform: scale(1.2);
	opacity: 0.8;
	box-shadow: 4px 4px 6px 10px #f3f3;
}


			/*footer*/


footer{
	background-color: #353535;
	color: white;
	padding: 1em 2em;
}

footer h2{
	font-family: shrikhand;
	margin: 0;
}

footer .fa-solid{
	padding-right: 10px;
}

footer a{
	color: white;
}