@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&family=Shrikhand&display=swap');


*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

body{
	margin: 0px;
	font-family: "roboto", sans-serif;
}


				/*header*/


header{
	display: flex;
	align-items: center;
	font-family: shrikhand;
	text-align: center;
	box-shadow: 0 3px 3px gray;
	padding: 2em;
	margin: 0;
}

header h1{
	margin: auto;
}

header .fa-solid{
	padding-left: 2em;
}


			/*image de fond*/


.image-de-fond img{
	width: 100%;
	height: 35em;
	object-fit: cover;
}

.menu{
	position: relative;
	align-items: center;
	border-radius: 27px 27px 0 0;
	margin-top: -50px;
	background-color: #f3f3f3;
}

			/*partie menu*/


.menu h2{
	padding-left: 2em;
	font-family: shrikhand;
	padding-top: 2em;
}

.menu .fa-solid{
	position: absolute;
	right: 60px;
	font-size: 30px;
	top: 45px;	
	color: transparent;		
	-webkit-background-clip: text;
}


.menu .fa-regular{
	position: absolute;
	right: 60px;
	font-size: 30px;
	top: 45px;
}

.menu .fa-solid:hover{
	background-image: linear-gradient(to top,rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
	opacity: 1;
	transform: scale(1.2);
}

.menu section{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 95%;
	grid-gap: 1em;
	margin: 0 2em 0em 1em;
}

.menu h3{
	flex-basis: 100%;
	margin:2em 0 0;
}	

.menu article{
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 27%;
	margin-right: 3em;
	border-radius: 25px 0 0 25px;
}

article h4  {
	padding-left: 1em;
}

article p{
	padding-left: 1em;
}

.check{
	position: relative;
	padding: 3em 1.5em;
	border-radius: 0 25px 25px 0;
	margin-right: -48px;
	background-color: white;
}

.choix-du-menu .fa-solid{
	position: absolute;
	top: 30px;
	right: 44px;
	color: white;
	transition-duration: 0.5s;
	transition-property: transform;
}

.choix-du-menu .check:hover{
	background-color: #99E2D0;
	margin-right: -56px;
	padding-left: 90px;
}

.check .fa-solid:hover{
	transform: rotate(360deg);
}



.menu-prix{
	margin: 45px 0 0 auto;
}

.menu button{
	flex-basis: 14%;
	padding: 2em 7em;
	margin-top: 5em;
	border-radius: 36px;
	border: none;
	background-image: linear-gradient(to top,rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
}

.menu button:hover{
	transform: scale(1.1);
}